<!DOCTYPE html>
<html>
<title>Enviro Bud</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 <link rel="stylesheet" type="text/css" href="styles.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url("http://1.bp.blogspot.com/-oFjQOMBmwTc/UQI4N8xHgrI/AAAAAAAAPEM/8S0tU-z_VYk/s1600/Lake+HQ+Pack+Beautiful+Nature+HD+Wallpapers.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <!--<button type="button">Click Me!</button>-->
    <!--<form method = POST>-->
    <nav>
      <ul>
        <li><a href="#">Home</a>
        <ul>
          <li><a href="page2.html" target="_self">Pacific Coast</a></li>
        
          <li><a href="page3.html" target="_self">Mountain</a></li>
          <li><a href="page4.html" target="_self">East Coast</a></li>
      
        </ul>
        </li>
        
      </ul>
    </nav>
    </form>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">ENVIRO BUD</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    
    
    <div class="w3-large w3-center">
    <a href="quiz.html"><button type="button" >conserve & preserve!</button>
    <!--<form method="get" action=""</form>-->
    </div>
  </div>
  
  <div class="w3-display-topright w3-padding-large w3-xlarge">

 <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/Greenpeace?ref_src=twsrc%5Etfw">Tweets by Greenpeace</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>

</div>

</body>
</html>